<% @stories.each do |story| %>

	<div class="story">
		<h2><%= link_to story.title, story.link %></h2>
		<p><%= story.description %></p>
		<!-- we are using 2 helpers hence the brackets  -->
		<p>
			<%= link_to pluralize(story.comments.size, "comment"), story_path(story) %>
			<%= link_to "Upvote", story_votes_path(story), method: :post %>
		</p>
	</div>

<% end %>

<p><%= link_to "Add a new story", new_story_path, class: "button" %></p>



<p>The time now is...<%= Time.now %></p>